<div ng-app="iMode" layout="column" class="demo" >
  <div ng-controller="MainCtrl" class="imode-styles">
    <div ng-view></div>
  <div ng-show="showSpinner" class="spinner-overlay text-center">
      <div class="loader"></div>
      <div class="loader-message">Loading...</div>
  </div>
</div>