

<!doctype html>
<html >

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-messages.js"></script>
    <!--<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>-->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.css">

    <script src="app.js"></script>
</head>

<body ng-app="datepickerBasicUsage">

<div ng-controller="AppCtrl" style='padding: 40px;'>

    <form name="tempForm" ng-submit='angular.noop' novalidate>
        <md-content>
            <h4>Standard date-picker</h4>
            <md-datepicker name="myField" ng-model="myDate" ng-required="true" md-placeholder="Enter date"></md-datepicker>
            <div ng-messages="tempForm.myField.$error">
                <div ng-message="required">You must select a date.</div>
            </div>
            <md-input-container class="md-block">
                <label>label</label>
                <input type="text" ng-model="test" />
            </md-input-container>

        </md-content>
        <md-button ng-disabled="!tempForm.$valid" class="md-raised md-primary" type=submit>try</md-button>
    </form>
</div>
<script>
    angular.module('datepickerBasicUsage', ['ngMaterial', 'ngMessages'])
        .controller('AppCtrl', function ($scope) {

        });
</script>
</body>

</html>