<div class="container">
  <div class="well">
    <div class="row">
      <h1>License orders of all users</h1>
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all" role="tab">All orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pending" role="tab">Pending orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#finished" role="tab">Processed orders</a>
          </li>
        </ul>
      </div>
      <br>


      <div class="tab-content">
        <div class="tab-pane active" id="all" role="tabpanel">
          <br>
          <div class="row">
            <div class="col-md-12">

              <% if @all_orders.empty? %>
                  <p>No orders of any user found!</p>
              <% else %>
                  <%= render partial: 'orders/order', collection: @all_orders %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pending" role="tabpanel">
          <br>
          <div class="row">
            <div class="col-md-12">
              <% if @pending_orders.empty? %>
                  <p>No pending orders of any user found!</p>
              <% else %>
                  <%= render partial: 'orders/order', collection: @pending_orders %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="finished" role="tabpanel">
          <br>
          <div class="row">
            <div class="col-md-12">
              <% if @finished_orders.empty? %>
                  <p>No finished orders of any user found!</p>
              <% else %>
                  <%= render partial: 'orders/order', collection: @finished_orders %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>